@import "tailwindcss";

/* @plugin "" */

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-lightHover: '#fcf4ff';
  --color-darkHover: '#2a004a';
  --color-darkTheme: '#11001F';
  --color-primary:"#ed3849";

  --shadow-black:'4px 4px 0 #000';
  --shadow-white:'4px 4px 0 #fff';

  /* --animate-aurora: aurora 60s linear infinite; */

  /* @keyframes aurora {
    from {
      backgroundPosition: "50% 50%, 50% 50%",
    },
    to {
      backgroundPosition: "350% 50%, 350% 50%",
    }

  } */
}

